/* GENERAL STYLE */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
body {
    font-family: 'Kumbh Sans', sans-serif;
}

.full-width {
    width: 100%;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.debug {
    bordeR: 1px solid red;
}

/* Header */
header {
    background-color:  hsl(0, 0%, 100%);
}

.header {
    height: 110px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    display: flex;
    align-items: center;

}

nav {
    flex-grow: 1;
    height: 100%;
}

ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style: none;
    margin-left: 40px;
}

a {
    height: 100%;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 4px solid white;
    font-weight: 16px;
}


a:hover {
    color: hsl(220, 13%, 13%);
    border-bottom: 4px solid hsl(26, 100%, 55%);
}

.user {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.user img {
    height: 20%;
}

.user img:last-child {
    height: 50%;
    margin-left: 50px;
}